# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/idfentmg/redmine"
PassengerBaseURI "/"
PassengerRuby "/home/idfentmg/rubyvenv/redmine/2.5/bin/ruby"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
